---
import Layout from "../layouts/Layout.astro";
import BackgroundParticles from "../components/BackgroundParticles.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import Trayectoria from "../components/Trayectoria.astro";
import Proyectos from "../components/Proyectos.astro";
import Skills from "../components/Skills.astro";
import Contacto from "../components/Contacto.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Rodrigo Sandoval | Ingeniero en Informática">
	<BackgroundParticles />
	<Navigation />
	<main>
		<Hero />
		<Skills />
		<Trayectoria />
		<Proyectos />
		<Contacto />
	</main>
	<Footer />
</Layout>
